<!DOCTYPE html>

{% load compress %}

<html>
<head>
    <title>Tyler Sirens</title>
    {% compress css %}
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/reset.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/bootstrap.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/leaflet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/leaflet.ie.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ settings.STATIC_URL }}css/sirens.css" type="text/css" charset="utf-8"/>
    {% endcompress %}
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a data-controls-modal="welcome-modal" data-keyboard="true" data-backdrop="true">Tyler Sirens</a></h3>
                <ul class="nav">
                    <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle">Find a location</a>
                        <ul class="dropdown-menu">
                            <li><a href="#" class="location" data-latitude="32.3309" data-longitude="-95.3006" data-zoom="14">Azalea & Charnwood</a></li>
                            <li><a href="#" class="location" data-latitude="32.3528" data-longitude="-95.3006" data-zoom="15">Downtown</a></li>
                            <li><a href="#" class="location" data-latitude="32.3627" data-longitude="-95.3053" data-zoom="14">North Tyler</a></li>
                            <li><a href="#" class="location" data-latitude="32.2811" data-longitude="-95.3024" data-zoom="14">South Tyler</a></li>
                            <li class="divider"></li>
                            <li><a href="#" class="location" data-latitude="32.3642" data-longitude="-95.3463" data-zoom="15">John Tyler HS</a></li>
                            <li><a href="#" class="location" data-latitude="32.3021" data-longitude="-95.2964" data-zoom="15">Robert E. Lee HS</a></li>
                            <li><a href="#" class="location" data-latitude="32.3350" data-longitude="-95.2828" data-zoom="15">Tyler Junior College</a></li>
                            <li><a href="#" class="location" data-latitude="32.3164" data-longitude="-95.2541" data-zoom="15">University of Texas</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav secondary-nav">
                    <li><a href="#">Active calls since <span id="start-time"></span>: <span id="active-call-count" class="count label notice">0</span></a></li>
                    <li><a href="#">Current users: <span id="member-count" class="count label notice">0</span></a></li>
                    <li><a data-controls-modal="about-modal" data-keyboard="true" data-backdrop="true">About</a></li>
                </ul>
            </div>
        </div>
   </div>

    <div class="container">
        <div id="content" class="content">
            <div class="row">
                <div id="map" class="span16">
                </div>
            </div>
        </div>
    </div>

    <div id="welcome-modal" class="modal hide fade in">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>Welcome to Tyler Sirens</h3>
        </div>
        <div class="modal-body">
            <p>This site uses real-time data made public by <strong>Tyler Police Department</strong> to create a visual police blotter for the city. Want to know what those sirens you heard were all about? Check the map!</p>
            
            <p>But, of course, there are limits to this system. To learn more about what isn't included, or about how this site was made, click the <strong>About</strong> button at the top of the main window.</p>

            <p>Thanks for visiting!</p>

            <p>
                <strong>Christopher Groskopf</strong><br />
                Hack Tyler
            </p>
        </div>
        <div class="modal-footer">
            <input type="button" class="btn primary modal-close" value="Close" />
        </div> 
    </div>

    <div id="about-modal" class="modal hide fade in">
        <div class="modal-header">
            <a href="#" class="close">&times;</a>
            <h3>About this site</h3>
        </div>
        <div class="modal-body">
            TODO
        </div>
        <div class="modal-footer">
            <input type="button" class="btn primary modal-close" value="Close" />
        </div> 
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/underscore.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/backbone.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/bootstrap-modal.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/moment.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/leaflet.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/lib/pusher.min.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/application.js"></script>

    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/models/active_calls.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/views/index.js"></script>
    <script type="text/javascript" src="{{ settings.STATIC_URL }}js/routers/index.js"></script>
    {% endcompress %}

    <script id="marker-popover-template" type="text/x-template">
        <p>
        Reported at <strong><%= moment(reported, "YYYY-MM-DDTHH:mm:ss").format("h:mm a") %></strong> near<br /> <strong><%= street_prefix %> <%= street_name %> <%= street_suffix %></strong> and <strong><%= cross_street_name %> <%= cross_street_suffix %></strong>.
        </p>

        <p>
        <% if (status == "O") { %>
            Police arrived on scene at <%= moment(on_scene, "YYYY-MM-DDTHH:mm:ss").format("h:mm a") %>.
        <% } else if (status == "D") { %>
            Police have been informed, but are not yet en route.
        <% } else if (status == "Q") { %>
            Police are responding to other reports prior to this one. 
        <% } else if (status == "H") { %>
            Police have not yet been dispatched.
        <% } else if (status == "E") { %>
            Police are en route.
        <% } else { %>
            Police have not yet arrived.
        <% } %>
        </p>

        <div class="case-number">Case #<%= case_number %></div>
    </script>

    <script type="text/javascript">
        $(function() {
            Sirens.bootstrap = {{ bootstrap_data|safe }}; 
            Sirens.settings = {
                PUSHER_KEY: "{{ settings.PUSHER_KEY }}",
                PUSHER_CHANNEL: "{{ settings.PUSHER_CHANNEL }}",
                DEFAULT_HOURS_DISPLAYED: {{ settings.DEFAULT_HOURS_DISPLAYED }}
            };

            window.Index = new Sirens.routers.Index();
            Index.start_routing();

            $("#start-time").text(moment().subtract("hours", Sirens.settings.DEFAULT_HOURS_DISPLAYED).format("h:mm a"));

            $("#welcome-modal").modal({
                backdrop: true,
                keyboard: true,
                //show: true
            });
        })
    </script>
</body>
</html>


