<!DOCTYPE html>

{% load compress %}

<html>
<head>
    <title>Tyler Sirens</title>
    {% compress css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css" type="text/css" charset="utf-8"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/leaflet.ie.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/sirens.css" type="text/css" charset="utf-8"/>
    {% endcompress %}
</head>
<body>
    <div class="topbar">
        <div class="topbar-inner">
            <div class="container">
                <h3><a href="#">Tyler Sirens</a></h3>
                <ul class="nav">
                </ul>
            </div>
        </div>
   </div>

    <div class="container">
        <div id="content" class="content">
            <div class="row">
                <div id="map" class="span16">
                </div>
            </div>
        </div>
    </div>

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/jquery-1.6.4.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/underscore.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/backbone-tastypie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/json2.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/moment.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/leaflet.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/lib/pusher.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
    {% endcompress %}
    
    <!--<script type="text/javascript" src="templates.js"></script>-->

    {% compress js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/models/active_calls.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/views/index.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/routers/index.js"></script>
    {% endcompress %}

    <script id="marker-popup-template" type="text/x-template">
        <div class="marker-popup">
            <h3><%= incident %></h3>
            <p>
            Reported at <strong><%= moment(reported, "YYYY-MM-DDTHH:mm:ss").format("h:mm a") %></strong> near<br /> <strong><%= street_prefix %> <%= street_name %> <%= street_suffix %></strong> and <strong><%= cross_street_name %> <%= cross_street_suffix %></strong>.
            </p>

            <p>
            <% if (status == "O") { %>
                Police arrived on scene at <%= moment(on_scene, "YYYY-MM-DDTHH:mm:ss").format("h:mm a") %>.
            <% } else if (status == "D") { %>
                Police have been informed, but are not yet en route.
            <% } else if (status == "Q") { %>
                Police are responding to other reports prior to this one. 
            <% } else if (status == "H") { %>
                Police have not yet been dispatched.
            <% } else if (status == "E") { %>
                Police are en route.
            <% } else { %>
                Police have not yet arrived.
            <% } %>
            </p>

            <p class="case-number">Case #<%= case_number %></p>
        </div>
    </script>

    <script type="text/javascript">
        $(function() {
            Sirens.bootstrap = {{ bootstrap_data|safe }}; 

            window.Index = new Sirens.routers.Index();
            Index.start_routing();
        })
    </script>
</body>
</html>


