#content { margin-top: 40px; }
#map { position: absolute; height: 100%; }

#active-calls-list { max-width: 300px; }

.popover h4 { font-size: larger; line-height: 24px; }
.popover p { margin-bottom: 5px !important; } 
.popover .case-number { font-size: smaller; text-align: right; }

